@import 'canvas.less';
@import 'palette.less';


@import (inline) "../bower_components/angular-material/angular-material.css";

// material default stuff, came from docs:
@import 'material-docs-stuff.less';

// bootstrap stuff
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/variables.less";
@import '../bower_components/bootstrap/less/mixins.less';
@import '../bower_components/bootstrap/less/tables.less';
@import '../bower_components/bootstrap/less/forms.less';
@import '../bower_components/bootstrap/less/buttons.less';


#editors-container {

	md-content {
		height: 100%;
		#brackets-iframe {
			height: 100%;
			width: 100%;

			border: none;
		}
	}
}