<div ng-controller="EditorsCtrl">

	<md-tabs 
		md-dynamic-height 
		md-border-bottom 
		md-selected="editorTabIndex"
	>
	
		<!-- B A N C O   D E   D A D O S -->

		<md-tab label="banco de dados">
			<md-content class="md-padding">
			<table class="table">
				<tr class="tableName">
					
					<!-- N O M E   D A   T A B E L A -->
					<div class="form-group">
						<label>nome da tabela:</label>
						<div class="form-inline">
							<input type="text" class="form-control" id="" placeholder="ex: produtos">
							<span class="input-group-btn">
							<button class="btn btn-primary" type="button">salvar</button>
						</div>

						<!-- Input disabled - nome da tabela -->
						<div class="form-inline">
							<input type="text" disabled class="form-control" id="" placeholder="produtos">
							<span class="input-group-btn">
							<button class="btn btn-primary" type="button">editar</button>
						</div>
					</div>

				</tr>

				<thead>
					<tr>
						
						<!-- L I S T A G E M   D E   P R O P R I E D A D E S -->
						<th ng-repeat="property in collection.properties">
							{{property.default_name}}
							<input type="text" disabled placeholder="{{property.type}}" class="form-control">
						</th>

						<th id="lhNewColumnEdit">
							<input type="text" class="form-control" id="" placeholder="nome da coluna">
							<select class="form-control">
								<option value="">tipo</option>
								<option value="1">texto</option>
								<option value="2">imagem</option>
								<option value="3">número</option>
								<option value="4">boolean</option>
								<option value="5">data</option>
								<option value="6">localização</option>
							</select>
						</th>
						<th>
							<!--  <md-button class="md-raised">+ adicionar</md-button> -->
							<button type="button" ng-show="!showSalvar" class="btn btn-primary" ng-click="createNewColumn()">+ coluna</button>
							<button type="button" ng-show="showSalvar" class="btn btn-primary" >salvar</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>conteudo</td>
						<td>conteudo</td>
						<td>conteudo</td>
						<td>conteudo</td>
						<td><button type="button" class="btn btn-primary">editar</button></td>
					</tr>
					<tr>
						<td><input type="text" class="form-control" placeholder="Text input"></td>
						<td><input type="text" class="form-control" placeholder="Text input"></td>
						<td><input type="text" class="form-control" placeholder="Text input"></td>
						<td><input type="text" class="form-control" placeholder="Text input"></td>
						<td>
							<div class="btn-group" role="group" aria-label="">
							<button type="button" class="btn btn-primary">salvar</button>
							<button type="button" class="btn btn-primary">excluir</button>
							</div>
						</td>
					</tr>
					
					<tr>
						<td colspan="5">
						<button type="button" class="btn btn-primary">+ conteúdo</button>
						
						 <!-- <md-button class="md-raised">Button</md-button> -->
						</td>
					</tr>
				</tbody>
			</table>

				<!-- <div ui-grid="gridOptions"></div> -->
			</md-content>
		</md-tab>

		<!-- C O N F I G U R A Ç Õ E S -->

		<md-tab label="configurações">
			<md-content class="md-padding">
				<!-- <iframe id="brackets-iframe" src="http://localhost:3101/brackets"></iframe> -->
			</md-content>
		</md-tab>


				<!-- <div ui-grid="gridOptions"></div> -->
			</md-content>
		</md-tab>
		
		<!-- A Ç Õ E S -->

		<md-tab label="ações">
			<md-content class="md-padding">
				<button ng-click="showTableCreate()">ComponenteNovo</button>
				<button ng-click="showTableUse()">ComponenteExistente</button>
				<button ng-click="showTableColumn()">ElementoNovo</button>
			</md-content>
		</md-tab>
	</md-tabs>

</div>

<!-- <th>nome da coluna 1<br />
	<select class="form-control">
		<option value="">tipo</option>
		<option value="1">texto</option>
		<option value="2">imagem</option>
		<option value="3">número</option>
		<option value="4">boolean</option>
		<option value="5">data</option>
		<option value="6">localização</option>
	</select>
</th>
<th>nome da coluna 2<br />
	<select class="form-control">
		<option value="">tipo</option>
		<option value="1">texto</option>
		<option value="2">imagem</option>
		<option value="3">número</option>
		<option value="4">boolean</option>
		<option value="5">data</option>
		<option value="6">localização</option>
	</select>
</th>
<th>nome da coluna 3<br />
	<select class="form-control">
		<option value="">tipo</option>
		<option value="1">texto</option>
		<option value="2">imagem</option>
		<option value="3">número</option>
		<option value="4">boolean</option>
		<option value="5">data</option>
		<option value="6">localização</option>
	</select>
</th> -->