

<div ng-controller="EditorsCtrl" 
>


	<md-tabs 
		md-dynamic-height 
		md-border-bottom 
		md-selected="editorTabIndex"

	>

		<md-tab label="banco de dados">
			<md-content class="md-padding">
			<table class="table">
				<tr>
					<div class="form-group">
						<label>nome da tabela:</label>
						<input type="text" class="form-control" id="" placeholder="ex: produtos">
					</div>
				</tr>
				<thead>
					<tr>
						<th>nome da coluna 1<br />
							<select class="form-control">
								<option value="">tipo</option>
								<option value="1">texto</option>
								<option value="2">imagem</option>
								<option value="3">número</option>
								<option value="4">boolean</option>
							</select>
						</th>
						<th>nome da coluna 2<br />
							<select class="form-control">
								<option value="">tipo</option>
								<option value="1">texto</option>
								<option value="2">imagem</option>
								<option value="3">número</option>
								<option value="4">boolean</option>
							</select>
						</th>
						<th>nome da coluna 3<br />
							<select class="form-control">
								<option value="">tipo</option>
								<option value="1">texto</option>
								<option value="2">imagem</option>
								<option value="3">número</option>
								<option value="4">boolean</option>
							</select>
						</th>
						<th id="lhNewColumnEdit">
							<input type="text" class="form-control" id="" placeholder="nome da coluna">
							<select class="form-control">
								<option value="">tipo</option>
								<option value="1">texto</option>
								<option value="2">imagem</option>
								<option value="3">número</option>
								<option value="4">boolean</option>
							</select>
						</th>
						<th>
							 <md-button class="md-raised">+ adicionar</md-button>
							<button type="button" ng-show="!showSalvar" class="btn btn-primary" ng-click="createNewColumn()">+coluna</button>
							<button type="button" ng-show="showSalvar" class="btn btn-primary" >salvar</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>conteudo</td>
						<td>conteudo</td>
						<td>conteudo</td>
					</tr>
					<tr>
						<td>conteudo</td>
						<td>conteudo</td>
						<td>conteudo</td>
					</tr>
					<tr>
						<td colspan="3">
						<!-- <button type="button" class="btn btn-primary">+ conteúdo</button> -->
						 <md-button class="md-raised">Button</md-button>
						</td>
					</tr>
				</tbody>
			</table>

				<!-- <div ui-grid="gridOptions"></div> -->
			</md-content>
		</md-tab>
		<md-tab label="configurações">
			<md-content class="md-padding">
				<!-- <iframe id="brackets-iframe" src="http://localhost:3101/brackets"></iframe> -->
			</md-content>
		</md-tab>


				<!-- <div ui-grid="gridOptions"></div> -->
			</md-content>
		</md-tab>
		
		<md-tab label="ações">
			<md-content class="md-padding">
				<button ng-click="showTableCreate()">ComponenteNovo</button>
				<button ng-click="showTableUse()">ComponenteExistente</button>
				<button ng-click="showTableColumn()">ElementoNovo</button>
			</md-content>
		</md-tab>
	</md-tabs>

</div>

