<md-dialog>
    <md-dialog-content role="document" class="sticky-container" style="padding: 24px;">
        <h2 class="md-title">De onde você quer pegar o conteúdo para o seu elemento?</h2>
        
        <md-radio-group ng-model="selectedItems.option" ng-change="radioButtonSelected()">

            <!--
                *****************************
                 EXISTING COLUMN ASSOCIATION
                *****************************
            -->
            <md-radio-button value="existingColumnAssociation" class="md-primary">
                Conteúdo existente:
            </md-radio-button>
            
            <!-- C O L L E C T I O N   S E L E C T I O N -->
            <md-select ng-hide="hideExistingColumnOption" placeholder="selecione a tabela" ng-model="selectedItems.collection" class="selectTag">
                <md-option ng-repeat="collection in collections" ng-value="collection">
                    {{collection}}
                </md-option>
            </md-select>

            <!-- P R O P E R T Y   S E L E C T I O N -->
            <md-select ng-hide="hideExistingColumnOption" placeholder="selecione a coluna" ng-model="selectedItems.property" class="selectTag">
                <md-option ng-repeat="(property_name, property) in properties[selectedItems.collection]" ng-value="property_name">
                    {{property_name}}
                </md-option>
            </md-select>
    
            <!--
                ************************
                 NEW COLUMN ASSOCIATION
                ************************
            -->
            <md-radio-button value="newColumnAssociation" class="md-primary">Novo conteúdo na tabela:</md-radio-button>
            <md-select ng-change="userDidChooseCollection()" ng-hide="hideNewColumnOption" placeholder="Escolha a tabela" ng-model="selectedItems.collection" class="selectTag">
                <md-option ng-repeat="collection in collections" ng-value="collection">
                    {{collection}}
                </md-option>
            </md-select>

            <div ng-show="showColumnNameTypeInput" class="new-column-association-container">
                <md-input-container md-no-float>
                    <input ng-model="selectedItems.property" placeholder="Nome da coluna">
                </md-input-container>

                <md-select placeholder="Escolha o tipo" ng-model="selectedItems.type" class="selectTag">
                    <md-option ng-repeat="type in types" ng-value="type.value">
                        {{type.label}}
                    </md-option>
                </md-select>
            </div>

    
            <!--
                ****************
                 NO ASSOCIATION
                ****************
            -->
            <md-radio-button value="manualEdition" class="md-primary">Novo conteúdo fora da tabela:</md-radio-button>
            <md-input-container ng-hide="hideManualEditionOption" ng-model="answer.selectValue" class="selectTag">
              <label>|* conteúdo *|</label>
              <input ng-model="theMax">
            </md-input-container>
            

        </md-radio-group>

    </md-dialog-content>

    <div class="md-actions" layout="row">
        <md-button ng-click="cancelColumnAssociationOp()" class="md-primary">
            cancelar
        </md-button>
        <md-button ng-click="closeModal()" class="md-primary">
            Ok
        </md-button>
    </div>
</md-dialog>