<md-dialog>
    <md-dialog-content role="document" class="sticky-container" style="padding: 24px;">
        <h2 class="md-title">Inserir novo elemento na composição</h2>

        <!-- E L E M E N T -->
        <div layout="column" layout-align="left left left left" flex>
            <md-select placeholder="Selecione o elemento" ng-model="selectedItems.elementId">

                <md-option ng-repeat="element in elements" ng-value="element.value">
                    <ng-include src="element.url"></ng-include>
                </md-option>
                <!-- <md-option value="6">
                    <img src="http://localhost:3000/static/images/basic-img.png" width="20px"> Imagem
                </md-option> -->
            </md-select>
        </div>
        
        <!-- T Y P E -->
        <div layout="column" layout-align="left left left left" flex>
            <md-select placeholder="Tipo de conteúdo" ng-model="selectedItems.type">
                <md-option ng-repeat="type in types" ng-value="type.value">
                    {{type.label}}
                </md-option>
            </md-select>
        </div>
    
        <!-- C O L U M N   N A M E -->
        <md-input-container>
            <label>Nome da coluna</label>
            <input ng-model="selectedItems.label">
        </md-input-container>

    </md-dialog-content>

    <div class="md-actions" layout="row">
        <md-button ng-click="cancelNewElementCreation()" class="md-primary">
            cancelar
        </md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Inserir
        </md-button>
    </div>    
        
    
</md-dialog>
