<md-dialog>
    <md-dialog-content role="document" class="sticky-container" style="padding: 24px;">
        <h2 class="md-title">Esse componente precisa estar associado a uma fonte de dados</h2>
        <p>Como você quer associar o conteúdo?</p>
    <md-radio-group ng-model="answer.selectedItem" ng-change="radioButtonSelected()">
            <md-radio-button value="oldColumnAssociation" class="md-primary">Associar a uma tabela existente no banco de dados</md-radio-button>
             <md-select ng-hide="hideNewColumn" placeholder="Escolha a tabela" ng-model="answer.selectValue" class="selectTag">
                <md-option value="1">Tabela 1</md-option>
                <md-option value="2">Tabela 2</md-option>
            </md-select>
            

            <md-radio-button value="newColumnAssociation" class="md-primary">Criar uma nova tabela no banco de dados</md-radio-button>
            <md-select ng-hide="hideNewColumn" placeholder="Escolha" ng-model="answer.selectValue" class="selectTag">
                <md-option value="1">Coluna 1</md-option>
                <md-option value="2">Coluna 2</md-option>
            </md-select>


        </md-radio-group>

    </md-dialog-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="closeModal()" class="md-primary">
            Ok
        </md-button>
    </div>    
        
    
</md-dialog>
