<md-dialog>
    <md-dialog-content role="document" class="sticky-container" style="padding: 24px;">
        <h2 class="md-title">Coloque conteúdo na sua galeria utilizando uma tabela</h2>
       <!--  <p>Exemplo de tabela vazia:</p>
        <img src="http://localhost:3000/static/images/table-ex1.png" style="border: solid 1px #ccc; margin-bottom:30px;"> -->
         <p>Exemplo de tabela preenchida com 2 itens:</p>
        <img src="http://localhost:3000/static/images/table-ex3.png" style="border: solid 1px #ccc;">

    </md-dialog-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="hide()" class="md-primary">
            Entendi
        </md-button>
    </div>    
        
    
</md-dialog>
