<md-dialog>
    <md-dialog-content role="document" class="sticky-container" style="padding: 24px;">
        <h2 class="md-title">Como você quer associar o conteúdo?</h2>
        <p>Você precisa associar o componente com uma tabela com os conteúdos (banco de dados)</p>
        
        

    </md-dialog-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="closeModal(0)" class="md-primary">
            Criar nova tabela de dados
        </md-button>
        <md-button ng-click="closeModal(1)" class="md-primary">
            Utilizar tabela existente
        </md-button>
    </div>
</md-dialog>